#!/bin/bash
# Execute with source ./filename
# Update the file with the credentials and IP of the lab

# Minirack jump host credentials
export MINIRACK5_JUMPHOST=a.a.a.X
export MINIRACK13_JUMPHOST=a.a.a.Y
export DEMOLAB_JUMPHOST=b.b.b.X
export PI_USERNAME=UserName
export PI_PASSWORD=Password

#Maestro ESXi Servers
# Demo Rack
export demo_rack_IP=b.b.b.D
export demo_rack_user=UserName
export demo_rack_UserNameword=Password
# Mini Racks
export mini_rack_IP=a.a.a.D
export mini_rack_user=UserName
export mini_rack_UserNameword=Password
#Common settings
export dc_name=ha-datacenter

#Maestro Hypervisor Orchestrator (MHO) credentials and parmeters
# Minirack 5
export MINIRACK5_MHO1_IP=a.a.a.A
export MINIRACK5_MHO1_HOSTNAME=MiniRack5-MHO1
export MINIRACK5_MHO1_Port=1
export MINIRACK5_MHO2_IP=a.a.a.B
export MINIRACK5_MHO2_HOSTNAME=MiniRack5-MHO2
export MINIRACK5_MHO2_Port=1
export MINIRACK5_Default_Route=a.a.a.Z
export MINIRACK5_Mask=24
export MR5_MHO_JHF_FILE=Check_Point_R80_20SP_JHF_MAIN_Bundle_MHO_T313_FULL.tgz
# Minirack 13
export MINIRACK13_MHO1_IP=a.a.a.C
export MINIRACK13_MHO1_HOSTNAME=MiniRack13-MHO1
export MINIRACK13_MHO1_Port=1
export MINIRACK13_MHO2_IP=a.a.a.D
export MINIRACK13_MHO2_HOSTNAME=MiniRack13-MHO2
export MINIRACK13_MHO2_Port=2
export MINIRACK13_Default_Route=a.a.a.Z
export MINIRACK13_Mask=24
export MR13_MHO_JHF_FILE=Check_Point_R80_20SP_JHF_MAIN_Bundle_MHO_T313_FULL.tgz
# Demolab
export DEMOLAB_MHO1_IP=b.b.b.A
export DEMOLAB_MHO1_HOSTNAME=EMEA-Orch-1
export DEMOLAB_MHO1_Port=1
export DEMOLAB_MHO2_IP=b.b.b.B
export DEMOLAB_MHO2_HOSTNAME=EMEA-Orch-2
export DEMOLAB_MHO2_Port=2
export DEMOLAB_Default_Route=b.b.b.Z
export DEMOLAB_Mask=22
export DL_MHO_JHF_FILE=Check_Point_R80_20SP_JHF_MAIN_Bundle_MHO_T313_FULL.tgz
# Factory Clear Default (FCD)
#When connecting via Raspberry Pi, each Pi should have an alias IP address configured which is on the default subnet (192.168.1.x) to check for connectivity to the MHO after FCD
#Use sudo ifconfig ethX:0 192.168.1.Y/24 for example
export MHO_DEFAULT_IP=192.168.1.1
# Credentials
export MHO_ADMIN=admin
export MHO_ADMIN_PASSWORD=Password
export MHO_PYTHON_INTERPRETER=/opt/CPsuite-R80.20/fw1/Python/bin/python
export MHO_User=admin
export MHO_Pass=Password
## Password hash of Password for MHO gaia admin user
export MHO_PWD_HASH=PASSHASH

# FTP server for CPUSE update and install
export FTP_SRV=a.a.a.X
export FTP_UID=FTPUSER
export FTP_PWD=FTPPASS
export MHO_JHF_FILE=Check_Point_R80_20SP_JHF_MAIN_Bundle_MHO_T313_FULL.tgz

# mgmt_api credentials
#export CHECKPOINT_SERVER=x.x.x.x
#export CHECKPOINT_USERNAME=api_user
#export CHECKPOINT_PASSWORD=api_user_UserNameword
#export CHECKPOINT_CONTEXT=web_api
#export CHECKPOINT_DOMAIN=mydomainname #Default SMC User
